<!DOCTYPE html>
<html>
<%- partial('casper/head') %>
<body class="home-template">
	<main class="content" role="main">
	<article class="post">
	  <section class="post-content">
	    <%- page.content %>
	  </section>
	</main>
  <%- partial('casper/after_all') %>
</body>
</html>
